<footer class="py-4 text-sm bg-gray-200 border-t-1">
	<div class="flex-1 max-w-6xl mx-auto text-center text-gray-800 md:text-left text-md">
		<div class="h-auto sm:w-1/2">
			<div class="mb-2 font-semibold text-orange">Contacts</div>
			<ul class="leading-normal list-reset">
				<li class="hover:text-orange text-grey-darker">Email : <a
						href="mailto:info@allwaysto.study">info@allwaysto.study</a></li>
			</ul>
		</div>
		<div class="flex justify-center py-6 mt-2 border-t border-t-2 border-gray-400">
			<p>Copyright &copy; 2020 by AllWayto.Study a <a class="font-semibold underline" href="https://cosmohac.com"
					title="CosmoHac Website">CosmoHac</a> Project</p>
		</div>
	</div>
</footer>