<footer class="border-t-1 bg-gray-200 py-4 text-sm">
    <div class="flex-1 text-center md:text-left max-w-6xl mx-auto text-md text-gray-800">
		<div class="sm:w-1/2 h-auto">
			<div class="text-orange mb-2 font-semibold">Contacts</div>
			<ul class="list-reset leading-normal">
				<li class="hover:text-orange text-grey-darker">Email : <a href="mailto:info@allwaysto.study">info@allwaysto.study</a></li>
			</ul>
		</div>
		<div class="border-t border-gray-400 flex justify-center border-t-2 mt-2 py-6">
			<p>AllWayto.Study a <a class="underline font-semibold" href="https://cosmohac.com" title="CosmoHac Website">CosmoHac</a> Project</p>
		</div>
	</div>
</footer>
