<nav class="relative shadow-sm bg-gray-50" aria-label="main navigation">
	<div class="container mx-auto flex justify-between items-center">
		<!-- Logo Small Icon -->
		<a class="text-3xl font-semibold leading-none" href="#" data-config-id="brand"><img class="h-10" src="/img/logo-small.png" alt="All ways to study logo" width="auto"></a>
		<!-- Menu Items -->
		<ul class="flex">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
			{{ if .HasChildren }}
			<li class="toggleable">
				<input type="checkbox" value="selected" id="toggle-one" class="toggle-input">
				<label for="toggle-one" class="block cursor-pointer py-6 px-4 lg:p-6 text-sm lg:text-base font-semibold">{{ .Name }}</label>
				<div role="toggle" class="p-6 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-400">
					<div class="container mx-auto w-full flex flex-wrap justify-between mx-2">
						<ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-300 border-b sm:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
							<li><span class="text-white font-semibold mb-4 block">Programming Languages</span></li>
							{{ range .Children }}
								<li>{{ .Pre }}<a href="{{ .URL }}" title="All ways to learn {{.Name}} Programming" class="block p-3 hover:bg-blue-500 text-gray-100 hover:text-white">{{ .Name }}</a>{{ .Post }}</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</li>
			{{ else }}
				<li class="">{{ .Pre }}<a href="{{ .URL }}" title="{{.Name}}" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-semibold">{{ .Name }}</a>{{ .Post }}</li>
            {{ end }}
        {{ end }}
		</ul>
	</div>
</nav>