{{ define "main" }}
<article class="container p-2 pt-4 mx-auto">
<header class="bg-white shadow overflow-hidden sm:rounded-lg">
	<div class="px-4 py-5 sm:px-6">
		<h1 class="text-2xl font-bold text-gray-900">{{ .Title }}</h1>
		<p class="mt-1 max-w-2xl text-sm text-gray-500">{{ .Params.description }}</p>
		{{- partial "programming/breadcrumb.html" . -}}
	</div>	
	{{- partial "programming/infobox.html" . -}}
</header>
	
	{{ if .Params.post_page }}
	{{- partial "ads/google/header.html" . -}}
	{{end}}
  	
</article>
{{ end }}